<h1><%= @user.name %>'s page</h1>
<p>Create a new event:</p>
<% if @user == current_user %>
  <%= render 'events/event_form' %>
<% end %>
<% if @user.events.any? %>
  
  <p><b><%= form_of_address %> created <%= pluralize(@user.events.count, "event") %></b></p>
  <ul>
    <%= render @created_events %>
  </ul>
<% end %>

<% if @upcoming_events.any? %>
  <p><b><%= form_of_address(true) %> <%= pluralize(@upcoming_events.count, "upcoming event") %></b></p>
  <ul>
    <%= render @upcoming_events %>
  </ul>
<% end %>

<% if @previous_events.any? %>
  <p><b><%= form_of_address(true) %> <%= pluralize(@previous_events.count, "previous event") %></b></p>
  <ul>
    <%= render @previous_events %>
  </ul>
<% end %>